.root {
  @apply min-w-max h-[40px] px-4 rounded text-sm font-semibold inline-flex justify-center items-center transition ease-in-out duration-150 shadow-sm border border-transparent text-center;
}

.root.primary {
  @apply bg-[var(--primary-color)] text-white;
}

.root.danger {
  @apply bg-[var(--danger-color)] text-white;
}

.root.dashed {
  
}

.root.gradient {

}


.loading {
  @apply  cursor-not-allowed bg-opacity-50;
}

.slim {
  @apply py-2 transform-none normal-case;
}

.disabled,
.disabled:hover {
  @apply text-zinc-400 border-zinc-600 bg-zinc-700 cursor-not-allowed;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
